# Ziele:
- Tabelle, die die Spieler, Charaktere und Splitter der einzelnen Charaktere beinhaltet
    - _Tabelle erstellen_
    - _Hinzufügen von Charakteren ermöglichen_
    - _Splitter hinzufügen und abziehen_
    -

In [10]:
import pandas as pd

In [106]:
def addCharakterSpieler(charakter:str, spieler:str):
    global spielerliste 
    spielerliste = pd.concat([spielerliste, pd.Series({charakter : spieler})])
    setSplitter(charakter,0)
    #return pd.concat([spielerliste, pd.Series({charakter : spieler})])

def setSplitter(charakter:str, neueSplittermenge:int):
    global splitterliste
    splitterliste[charakter] = neueSplittermenge
    
def addSplitter(charakter:str, anzahl:int):
    global splitterliste
    splitterliste[charakter] = splitterliste[charakter] + anzahl

In [107]:
splitterliste = pd.Series({
                    'Kra': 3,
                    'Ittut' : 37,
                    'sektum' : 32,
                    'sempra' : 2003
                    })
spielerliste = pd.Series({
                    'Kra': 'Christian',
                    'Ittut' : 'Tutti',
                    'sektum' : 'Dori',
                    'sempra' : 'Dori'
                    })
 
addCharakter('Olaf','Silsa')
setSplitter('sempra', 100)
addSplitter('Ittut', -10)

register = pd.DataFrame({ 'Spieler' : spielerliste, 'Splitter' : splitterliste,}
             
            )
register

          Spieler  Splitter
Kra     Christian         3
Ittut       Tutti        27
sektum       Dori        32
sempra       Dori       100
Olaf        Silsa         0